<nav>

    <a href="../index.html" class="logo">

        Johanna Rein

    </a>

    <ul>

        <li><a href="../index.html">Home</a></li>

        <li class="dropdown">

            <a href="#">Portfolio</a>

            <ul class="dropdown-menu">

                <li>
                    <a href="../portfolio/landscape.html">
                        Landscape
                    </a>
                </li>

                <li>
                    <a href="../portfolio/animals.html">
                        Animals
                    </a>
                </li>

                <li>
                    <a href="../portfolio/people.html">
                        People
                    </a>
                </li>

            </ul>

        </li>

        <li>
            <a href="../about.html">
                About
            </a>
        </li>

        <li>
            <a href="../contact.html">
                Contact
            </a>
        </li>

    </ul>

</nav>